.loading{
    position: absolute;
    background-color:#000;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 30;
    & .loading-txt{
        padding: 0 8px;
        background-color: white;
        font-weight: bold;
        color: #000;

    }
}